* text=auto

compose.yml text=lf

*.diff -binary linguist-generated
*.patch -binary linguist-generated

dist/** -diff -merge linguist-generated
dist/types.d.ts !diff !merge !linguist-generated

package-lock.json -diff -merge linguist-generated
tests/fixtures/** -diff -merge linguist-generated
